{%extends "playout.html"%}
{%block content%}

<!-- banner -->
<div class="innerpage-banner">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5">
	<div class="container py-md-3">
		<h4 class="heading text-center">Health Center</h4>
		<h2 class="heading text-center mb-sm-5 mb-4">About Us </h2>
		<p class="text-center">Suspendisse id felis sed felis tincidunt finibus. Nulla sed justo tellus. Donec ut felis ante. Quisque ac sapien 
			quis orci pulvinar finibus quis eu urna. onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam
			dui mi.	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur quis luctus lectus.
			Morbi at dui nisl.</p>
		<div class="about-grids mt-md-5 mt-4 text-center">
			<h4 class="bg-green"><i class="fas fa-anchor"></i> <span>Training</span></h4>
			<h4 class="bg-blue"><i class="fab fa-nutritionix"></i> <span>Nutrition</span></h4>
			<h4 class="bg-pink"><i class="fab fa-apple"></i> <span>Diet Plan</span></h4>
			<h4 class="bg-green-light"><i class="far fa-thumbs-up"></i> <span>Success</span></h4>
		</div>
	</div>
</section>
<!-- //about -->

<!-- about bottom -->

<!-- //about bottom -->

<!-- Trainers -->

<!-- //Trainers -->

<!-- create -->

<!-- //create -->


<!--Social icons-->

<!-- //social icons -->

{%endblock%}