
{% extends 'adminlayout.html'%}
{% block content %}


<div class="main-page">
  <div class="tables">
    <h2 class="title1"></h2>
    <div class="panel-body widget-shadow">
      <h4> View Doctors:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Specialisation</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact No</th>
            <th colspan=2>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for tasks in tasks %}
          <tr>
            <td>{{ tasks.id }}</td>
            <td>{{ tasks.username }}</td>
            <td>{{ tasks.specialisation }}</td>
            <td>{{ tasks.email }}</td>
            <td>{{ tasks.address }}</td>
            <td>{{ tasks.phone }}</td>
            <td><a href="/aeditdoctor/{{tasks.id}}">Edit</a></td>
            <td><a href='/adddoctordelete/{{tasks.id}}'>Delete</a></td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}