{% extends 'dlayout.html' %}
{% block content %}


<div class="banner" style="margin-bottom: 50px;">
	<div class="layer" style="height: 600px;">
		<div class="container">
			<div class="banner-text-agile">
				<div class="row" style="width: 1150px;">
					<div class="col-lg-10 p-0" style="width: 1150px;">
						<!-- Carousel -->
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 1150px;">
							
							<div class="carousel-inner" style="width: 1150px;">
								<div class="carousel-item active" style="width: 1150px;">
									<h3 class="b-w3ltxt text-capitalize mt-md-8">
                                      <a href="/adddisease" style="color: white;margin-left: 60PX;">Add disease</a> <a href="/adddiseaseview" style="color: white;margin-left: 60PX;">View</a>   </h3>
									<p class="my-3"></p>
									
								</div>
								<!-- slider text -->
								
								<!-- slider text -->
								
								<!-- slider text -->
							</div>
						</div>
						<!-- Carousel -->
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}