{% extends 'ulayout.html' %}

{% block content %}
<div class="innerpage-banner">
	<div class="inner-page-layer">
	</div>
</div>

<h1 style="margin-top: 50px;margin-bottom: 50px;"><center>Doctor Appoinments</center></h2><br>
    <table border="2" style="width:1002px; margin-left:141px; text-align:center;">
        <tr style="font-weight: bold;">
            <td>Id</td>
            <td>Name</td>
            <td>Doctor</td>
            <td>Reason</td>
            <td>Contact No</td>
            <td>Status</td>
            <td colspan=2>Action</th>
        </tr>
        {% for tasks in tasks %}
            <tr>
                <td>{{ tasks.id }}</td>
                <td>{{ tasks.name }}</td>
                <td>{{ tasks.doctor }}</td>
                <td>{{ tasks.reason }}</td>
                <td>{{ tasks.contactno }}</td>
                <td></td>
                <td>Edit</td>
                <td><a href="/doctorappoinmentdelete/{{tasks.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
<br><br>

{% endblock %}