{%extends "playout.html"%}
{%block content%}

<!-- banner -->
<div class="innerpage-banner">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->



<!-- Trainers -->
<section class="trainers py-5">
	<div class="container py-md-3">
		<h4 class="heading text-center">Health Center</h4>
		<h3 class="heading text-center mb-5">Gallery </h3>
		 <div class="row team_grids mt-5">
			 {% for gallery in gallery %}
			<div class="col-lg-3 col-sm-6">
				<div class="team-member">
					<div class="team-img">
						<img src="../static/pics/{{gallery.image}}" alt="team member" style="width: 255px;height: 340px;" class="img-fluid">
					</div>
					<div class="team-hover">
						<div class="desk">
							<h4></h4>
							<p>{{gallery.desc}}</p>
						</div>
						<div class="s-link">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="#">
								<i class="fab fa-google-plus-g"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="team-title">
					<h5></h5>
					<span></span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- //Trainers -->

<!-- create -->
<section class="create text-center">
	<div class="extra_layer py-5">
		<div class="container py-lg-5 py-3">
			<h4>Lets Create Something Together</h4>
			<p class="py-4">Suspendisse id felis sed felis tincidunt finibus. Nulla sed justo inter tellus. Donec ut felis ante. Quisque acin sapien 
			quis orci pulvinar finibus quis urna. onec consequat sapien ut leo cursus rhoncus.</p>
			<a class="btn btn-banner mt-md-3 mt-2 text-capitalize" href="contact.html" role="button"> Get Started</a>
		</div>
	</div>
</section>
<!-- //create -->


<!--Social icons-->
<section class="social py-lg-5 mb-lg-0 mb-sm-5 mb-4">
	<div class="container">
		<div class="social-icon footer text-center">
			<h4>Socialize with us</h4>
			<div class="icon-social mt-4">
				<a href="https://www.facebook.com" class="button-footr">
					<i class="fab mx-2 fa-facebook-f"></i>
				</a>
				<a href="https://twitter.com/" class="button-footr">
					<i class="fab mx-2 fa-twitter"></i>
				</a>
				<a href="https://dribbble.com" class="button-footr">
					<i class="fab mx-2 fa-dribbble"></i>
				</a>
				<a href="https://in.pinterest.com" class="button-footr">
					<i class="fab mx-2 fa-pinterest-p"></i>
				</a>
				<a href="https://aboutme.google.com/u/0/?referer=gplus" class="button-footr">
					<i class="fab mx-2 fa-google-plus-g"></i>
				</a>

			</div>
		</div>
	</div>
</section>
<!-- //social icons -->

{%endblock%}